<p id="notice"><%= notice %></p>

<h1>Listing Item Packs</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @item_packs %>
  </tbody>
</table>

<br>

<%= link_to 'New Item pack', new_item_pack_path %>
