<p id="notice"><%= notice %></p>

<h1>Listing Order Item Histories</h1>
<table>
  <thead>
    <tr>
      <th>Order item</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @order_item_histories %>
  </tbody>
</table>

<br>

<%= link_to 'New Order item history', new_order_item_history_path %>
