<p id="notice"><%= notice %></p>

<h1>Order Details</h1>
<table>
  <thead>
    <tr>
      <th colspan="3">Item</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @order_items %>
  </tbody>
</table>
<br>

<%= link_to 'Add New Item', new_order_order_item_path(order_id: @order.id) %>
<%= link_to 'Back to Order', @order %>